.form{
    
    display:grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;

}
.form__input{
    padding: 8px;
}

.form__button{
    background-color: teal;
    color:white;
    font-weight: 200;
    border:none;
    padding:10px;
    transition: .5s;
}

.form__button:hover{
    cursor:pointer;
    background-color: hsl(180, 100%, 20%);
    transform: scale(1.06);
}

@media (max-width: 767px){
    .form{
        grid-template-columns: 1fr;
    }
}