.list{
    padding:0;
    list-style-type:none;
}
.list__content{
    margin-top:0;
    margin-bottom:0;
    font-size: 18px;
}
.list__content--done{
    text-decoration: line-through;
}
.list__element{
    border-bottom: 1px solid rgb(223, 223, 223);
    display:grid;
    grid-template-columns: auto 1fr auto;
    padding-bottom:5px;
    padding-top:5px;
    align-items: center;
    grid-gap:10px;
}

.list__element--hidden{
    display:none;
}

.list__button{
    width: 30px;
    height: 30px;
    border: none;
    padding:0px;
    font-size: 20px;
    transition: .5s;
}
.list__button--toggleDone{
    background-color: hsl(120, 96%, 30%);
    color:white;
    
}
.list__button--toggleDone:hover{
    background-color: hsl(120, 96%, 40%);
    cursor:pointer;
    
    
}
.list__button--toggleDone:active{
    background-color: hsl(120, 96%, 50%);
}

.list__button--remove{
    background-color: rgb(222, 58, 58);
    color:white;
}

.list__button--remove:hover{
    background-color: hsl(0, 71%, 38%);
    cursor: pointer;
}

.list__button--remove:active{
    background-color: hsl(0, 71%, 30%);
}