.buttons {
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {
    .buttons {
        align-self: center;
        flex-direction: column;
        margin-top: 10px;
    }
}

.buttons__button {
    border: none;
    background-color: transparent;
    color: rgb(1, 88, 88);
}

.buttons__button:disabled{
    color:hsl(180, 44%, 61%);
}
.buttons__button:hover{
    cursor: pointer;
}